.px-btn {
  padding: 13px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 2px solid var(--px-theme);
  background-color: var(--px-theme);
  color: var(--px-black);
  text-decoration: none;
  transition: 0.35s ease;

  span,
  i,
  svg {
    color: inherit;        // inherit parent color
  }

  &:hover {
    background-color: var(--px-black);
    color: #fff !important;   // force white
    border: 2px solid #fff;

    span,
    i,
    svg {
      color: #fff !important;
      fill: currentColor;
    }
  }
}

.social-icon {
  a {
    width: 46px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--px-black);
    border: 2px solid var(--px-white);
    margin-right: 8px;
    position: relative;
    transition: ease top 0.35s;
    top: 0;
    &:hover {
      top: -2px;
    }
    &.dribbble {
      background: #f26798;
    }
    &.facebook {
      background: #1877f2;
    }
    &.linkedin {
      background: #1275b1;
    }
  }
}
