.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--px-black);
    font-size: 14px;
    .nav {
    	a {
		    font-size: 14px;
			color: var(--px-black);
			+ a {
				margin-left: 18px;
			}
    	}
    }
}